include LICENSE
include README.md
include requirements.txt
recursive-include smstor/fixtures *
recursive-include smstor/migrations *
recursive-include smstor/templates *
recursive-include smstor/docs *
